@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Đây là trang web quản lý thông tin nhân sự vui lòng đăng ký tài khoản để tiếp tục sử dụng</h3>
</div>
